

.form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 10px 20px 10px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input[type=checkbox] {
    margin: inherit;
    vertical-align: middle;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    width: auto;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-select {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
    background: #4691A4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style-1 .required {
    color: red;
}







.notlarim_anadiv {
    display: block;
}

.notlarim_anadiv .notlarim_filterUl {
    width: 22%;
    float: left;
}

.notlarim_anadiv .notlarim_filterUl li input {
    width: auto;
    margin-right: 5px;
}

.notlarim_anadiv .directory-list {
    float: right;
    width: 78%;
    padding-left:0px;
}

.notlarim_anadiv .directory-list .merkezuyari {
    margin-top: 45vh;
    font-size: large;
    text-align: center;
}








.directory-list ul {
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px dashed #ddd;
}

.directory-list li {
    list-style: none;
    color: #888;
    font-style: italic;
    font-weight: normal;

}
.directory-list>li>a {
    font-size: 1.3vw!important;

}

.directory-list a {
    border-bottom: 1px solid transparent;
    color: #888;
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover {
    border-color: #eee;
    color: #000;
}

.directory-list .folder,
.directory-list .folder>a {
    color: #777;
    font-size: 1.1vw;
    font-weight: bold;
}

.directory-list .btn-sm {
    padding: 0px 0.4vw !important;
    line-height: 1.4vw;
}

.directory-list .lastli *{
    font-size: 1.1vw!important;
}
.directory-list .lastli:hover {
    text-decoration: underline;
    background-color: powderblue;
    cursor: pointer;
}

.directory-list .folder input {
    float: right;
    cursor: pointer;
    margin: 5px 10px;
}


.directory-list li:before {
    margin-right: 10px;
    content: "";
    height: 20px;
    vertical-align: middle;
    width: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    /* file icon by default */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightgrey' d='M85.714,42.857V87.5c0,1.487-0.521,2.752-1.562,3.794c-1.042,1.041-2.308,1.562-3.795,1.562H19.643 c-1.488,0-2.753-0.521-3.794-1.562c-1.042-1.042-1.562-2.307-1.562-3.794v-75c0-1.487,0.521-2.752,1.562-3.794 c1.041-1.041,2.306-1.562,3.794-1.562H50V37.5c0,1.488,0.521,2.753,1.562,3.795s2.307,1.562,3.795,1.562H85.714z M85.546,35.714 H57.143V7.311c3.05,0.558,5.505,1.767,7.366,3.627l17.41,17.411C83.78,30.209,84.989,32.665,85.546,35.714z' /></svg>");
    background-position: center 2px;
    background-size: 60% auto;
}

.directory-list li.folder:before {
    /* folder icon if folder class is specified */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>");
    background-position: center top;
    background-size: 75% auto;
}


.SumoSelect .select-all{
    height: auto;
}
.SumoSelect{
    width: 100%;
}
.SumoSelect *{
    font-size: 1vw;
}

/*
  Kendi Blockum
  */
.UYP_block{
    display: flex;
    position: fixed;
    top: 0px;
    height: 100%;
    left: 0px;
    z-index: 1000000;
    border: none;
    background-color: rgba(0,0,0,.8);;
    width: 100%;
    text-align: center;
}
.UYP_block>div:first-child {
    margin: auto auto;
    width: fit-content;
    display: flex;
    flex-direction : column;
    justify-content: center;
}

.UYP_block a {
    width: fit-content;
    align-self: center;
    text-decoration: none;
    margin-top: 3vh;
    font-size: small;
    right: 0px;
    z-index: 1;
    color: slategray;
    transition: .25s linear;
}
.UYP_block a:hover {

    color: white;
    transition: .25s linear;
}
.UYP_block a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background:white;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}
.UYP_block a:hover:before,
.UYP_block a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}


/*
https://codepen.io/ndne/pen/NGbgYE/
*/

.dialog {
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.15);
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
    opacity: 0;
    visibility: hidden;
}
.dialog_state {
    visibility: hidden;
    opacity: 0;
    display: none;
}
.dialog_state:checked + .dialog,
.dialog.dialog_open {
    transition-delay:0s;
    opacity: 1;
    visibility: visible;
}

.dialog_state:checked + .dialog .dlg-wrap {
    transition: all .5s;
    max-height: 90vh;
    opacity: 1;
    /*padding: 2rem;*/
}
.dlg-wrap {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 640px;
    height: auto;
    /*padding: 2rem;*/
    border-radius: 0.25rem;
    /*border: 1px solid #969696;*/
    background: #fff;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
    max-height: 0;
    opacity: 0;
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    transition: all .5s;
}
.dlg-close {
    transition: all .5s;
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    color: rgb(97, 153, 183);
}
.dlg-close:hover {
    transition: all .5s;
    color:#000
}

.dlg-content {
    left: 0%;
    padding:2rem;
    width: inherit;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.015em;
    position: absolute;
    transition: all .3s ease-in-out;
}
.dlg-content.center {
    left: 0%;
    position: relative;
    transition: all .3s ease-in-out;
}

.dlg-content.inright {

    position: absolute;
    left: 100%;
}
.dlg-content.inleft {

    position: absolute;
    left: -100%;
}
.dlg-prompt .button {
    margin: 1rem 0.5rem;
    border-radius: 1.5rem;

}

.dialog .button,.dialog a.button {
    display: inline-block;
    padding: 0.25em 1em;
    box-sizing: border-box;

    background: #ffffff;
    color: #606060;
    text-decoration: none;
    letter-spacing: 0.075em;
    line-height: 2rem;
    font-family: Raleway, Open Sans, Arial;
    font-weight: 300;
    font-size: 0.85em;
    border-radius: 4px;
    border: 1px solid #e0e0e0;

    transition: .1s all;
    cursor: pointer;
}
.dialog .button:hover,.dialog a.button:hover {
    color: #a0a0a0;
    background: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    /*transform: scale(1.01);*/
}
.dialog .button.positive,.dialog a.button.positive {
    border-color: #6199B7;
    color: #6199B7;
}
.dialog .button.positive:hover,.dialog a.button.positive:hover {
    border-color: #468FB6;
    color: #fff;
    background-color: #468FB6;
}
.dialog .mesaj{
    text-align: justify;
}
.dialog .dlg-prompt{
    text-align: right;
}
